
body {
    min-width: 450px;
}

.backContainer {
    height: 30%;
    background-color:  #5265E1;
    border-radius: 0 0 0 150px;
    width: 40%;
    z-index: -2;
    top: 35%;
    right: 0;
}


.backContainer_1 {
    height: 30%;
    background-color:  #5265E1;
    border-radius: 0 0 150px 0;
    width: 40%;
    z-index: -2;
    top: 140%;
    left: 0;
}

.mainContainer {
    min-height: 70vh;
}

.cards {
    height: 400px;
}

.cards:nth-child(2) {
    margin-top: 50px;
}

.cards:nth-child(3) {
    margin-top: 75px;
}


.nav-tabs .nav-link, .nav-tabs .nav-link.active {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
 
    border-top: 0px;
}
.nav-tabs .nav-link, .nav-tabs .nav-link:hover {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-top: 0px;
 
}

@media  (max-width:993px) {
    
    .backContainer {
        top: 40%;
        height: 25%;
        width: 40%;
    }

    .backContainer_1 {
        height: 25%;
        width: 40%;
        top: 140%;
    }

}

@media  (max-width:768px) {
   
    .backContainer {
        height: 25%;
        width: 80%;
        top: 25%;
    }



    .backContainer_1 {
        height: 25%;
        width: 60%;
        top: 140%;
    } 

    .cards:nth-child(2) {
        margin-top: 75px;
    }
    
    .cards:nth-child(3) {
        margin-top: 75px;
    }

}