
$font-family-sans-serif: 'Montserrat', sans-serif;

// scss-docs-start theme-color-variables
$primary:#5265E1;
$secondary:#FA5959;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/dist/js/bootstrap.min.js";


