
body {
    min-width: 450px;
}

.backContainer {
    height: 30%;
    background-color:  #5265E1;
    border-radius: 0 0 0 150px;
    width: 40%;
    z-index: -2;
    top: 45%;
    right: 0;
}

.mainContainer {
    min-height: 700px;
}


.features {
    height: 80vh;
}


@media  (max-width:993px) {
    
    .backContainer {
        top: 40%;
        height: 20%;
        width: 40%;
    }
}

@media  (max-width:768px) {
   
    .backContainer {
        height: 20%;
        width: 60%;
        top: 35%;
      
    }
}